[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
pre-commit = "*"
responses = "*"

[packages]
aws-sam-cli = "*"
boto3 = "*"
botocore = "*"
requests = "*"

[requires]
python_version = "3.6"
